.modal-header
  %button{ class: "close", data: { dismiss: "modal" }, aria: { hidden: "true" } }☓
  %h4.modal-title= @modal_title

.modal-body
  .note.text-danger
    = "最低入札価格は #{@auction.min_price} 円です。"

  = simple_form_for [ @auction, @bid ], url: auction_bid_path do |f|
    = f.input :price, label: '入札金額'
    = f.button :submit, class: "btn btn-primary"

.modal-footer
  %button{ class: "btn btn-default", data: { dismiss: "modal" } } Close
