.row
  .col-sm-12
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to 'Auctions', root_path, class: "navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "#{current_user.email}", edit_user_registration_path
            %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'ログイン', new_user_session_path